<div class="text-layout">
  <h1>Custom Pipes</h1>
  <p>Pipes created by {{ 'us' | capitalLetters : inCapitalLetter }}</p>
</div>

<p-toolbar [style]="{ 'min-width': '280px' }">
  <div class="p-toolbar-group-left"></div>
  <div class="grid justify-content-end p-toolbar-group-right min-w-full">
    <button
      pButton
      label="Toggle capitals"
      (click)="changeLetters()"
      type="button"
      class="m-1 p-button-warning col-10 sm:col-8 md:col-3 lg:col-2"
    ></button>
    <button pButton icon="pi pi-sort" label="For name" class="m-1 col-10 sm:col-8 md:col-3 lg:col-2"></button>
    <button
      pButton
      icon="pi pi-sort"
      label="Fly"
      class="m-1 p-button-success col-10 sm:col-8 md:col-3 lg:col-2"
    ></button>
    <button
      pButton
      icon="pi pi-sort"
      label="For colour"
      class="m-1 p-button-help col-10 sm:col-8 md:col-3 lg:col-2"
    ></button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-table [value]="heroes | order" [tableStyle]="{ 'min-width': '280px' }">
      <ng-template pTemplate="header">
        <tr>
          <th class="col md:col-12">Name</th>
          <th class="col md:col-12">Fly</th>
          <th class="col md:col-12">Colour</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <tr>
          <td>{{ heroe.name }}</td>
          <td>{{ heroe.fly | fly | titlecase }}</td>
          <td>{{ heroe.colour }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
